<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<!-- Footer -->
<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">Copyright &copy; Blocksabre 2017</p>
                <p class="text-muted">ETH: 0x063bd9c5e2fdc9da53a8718377c3b82678d3c7c8 or blocksabre.eth</p>
                <p class="text-muted">BTC: 1NWy7kjRPBwG4qX4YYmz6UvVAPMSeqQD56</p>
            </div>
        </div>
    </div>

</footer>

</body>
</html>